/* Sets box sizing rules */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Sets root core defaults */

html:focus-within {
    scroll-behavior: smooth;
}

/* Sets body core defaults */

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Resets margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
blockquote,
figure,
dl,
dd {
    margin: 0;
}

/* Removes unnecessary space caused by line height */

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
}

/* a elements without a class get default styling */

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* makes images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* Removes list styling from lists that have the role of list set */

ul[role="list"],
ol[role="list"] {
 list-style: none;
 margin: 0;
}

/* Sets font inheritance for buttons and input elements */
button,
input,
select,
textarea {
    font: inherit;
}

/* Removes animations and transitions for people who prefer not to see them */ 

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::after,
    *::before {
        animation-iteration-count: 1 !important;
        animation-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto;
    }
}

