/* ===== CUSTOM PROPERTIES ===== */

:root {
  --ff-primary: 'Red Hat Display', sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.75rem;

  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

  --clr-neutral-100: hsl(255, 100%, 100%);

  --clr-primary-100: hsl(225, 100%, 98%);
  --clr-primary-200: hsl(224, 23%, 85%);
  --clr-primary-300: hsla(224, 23%, 55%, 0.3);
  --clr-primary-700: hsl(224, 23%, 55%);
  --clr-primary-900: hsl(223, 47%, 23%);

  --clr-secondary-100: hsl(225, 100%, 94%);
  --clr-secondary-200: hsl(245, 87%, 70%);
  --clr-secondary-300: hsla(245, 75%, 52%, 0.3);
  --clr-secondary-400: hsl(245, 75%, 52%);

  --clr-error: #ff4c4c;

  --br: 1.5em;
  --br-small: 0.65em;

  --button-padding-block: 1em;
  --button-padding-inline: 2em;
  --button-shadow: var(--clr-secondary-300);

  --content-padding: 4em;

  --card-base-width: 20rem;
  --card-max-width: 28rem;
  --card-shadow: var(--clr-primary-300);
  --card-padding-block: 3em;
  --card-padding-inline: clamp(0.75em, 0.75em + 5vw, 3em);

  --plan-padding: 1.5em;

  --spacer: 1.5em;
}
/* ===== GENERAL STYLES ===== */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  color: var(--clr-primary-700);
  background-color: var(--clr-secondary-100);
  background-image: url('../images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100dvw;

  display: grid;
  grid-template-rows: 1fr min-content;
  gap: var(--spacer) 0;
  align-content: center;

  isolation: isolate;
  overflow: hidden;
}

body[data-state]::before {
  content: '';
  position: absolute;
  top: 0;
  transform: scale(0, 0);
  aspect-ratio: 1;
  height: 100%;

  border-radius: 50%;
  background-color: var(--clr-secondary-400);

  z-index: 10;

  animation-duration: 1800ms;
  animation-fill-mode: forwards;
}

body[data-state='hide-screen']::before {
  animation-name: hideScreen;
  animation-timing-function: cubic-bezier(0.47, 0.14, 0.51, 0.87);
}

body[data-state='reveal-screen']::before {
  animation-name: revealScreen;
  animation-timing-function: cubic-bezier(0.51, 0.87, 0.47, 0.14);
}

@keyframes hideScreen {
  0% {
    transform: translate(-100%, 0%) scale(0, 0);
  }
  100% {
    transform: translate(0%, 0%) scale(3.5, 3.5);
  }
}

@keyframes revealScreen {
  0% {
    transform: translate(0%, 0%) scale(3.5, 3.5);
  }

  100% {
    transform: translate(150dvw, 0%) scale(0, 0);
  }
}

@media (max-width: 37.5em) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
  body[data-state]::before {
    animation-duration: 1250ms;
  }
}

main {
  grid-row: 1;
  align-self: center;
  padding-block-start: var(--content-padding);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  max-width: 100%;
}

footer {
  grid-row: 2 / span 1;
}

/* ===== TYPOGRAPHY ===== */

.h2,
.h3 {
  font-weight: var(--fw-900);
  color: var(--clr-primary-900);
}

.h2 {
  font-size: var(--fs-500);
}

.h2 span {
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
}

.h3 {
  font-size: var(--fs-300);
}

.small-text {
  font-weight: var(--fw-500);
  font-size: var(--fs-300);
  color: var(--clr-secondary-400);
  text-transform: uppercase;
}

/* ===== UTILITY CLASSES ===== */

.container {
  --max-width: 74rem;
  --padding-inline: var(--spacer);
  width: min(calc(100% - (var(--padding-inline) * 2)), var(--max-width));
  margin-inline: auto;
}

.grid-auto-fit {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--card-base-width), 100%), 1fr)
  );
  justify-items: center;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 1.25em);
}

.divider {
  position: relative;
  isolation: isolate;
}
.divider::after,
.divider::before {
  content: '';
  position: absolute;

  margin-block: auto;
  width: 32%;
  height: 1px;
  background-color: currentColor;
}

.divider::after {
  inset: 0 auto 0 0;
}
.divider::before {
  inset: 0 0 0 auto;
}

/* ===== CARD ===== */

.card {
  max-width: var(--card-max-width);
  border-radius: var(--br);
  background-color: var(--clr-neutral-100);
  box-shadow: 0 1em 2em var(--card-shadow);
  overflow: hidden;

  display: grid;
  grid-template-rows: min-content 1fr;
}

.card__content {
  display: grid;
  grid-auto-flow: dense;
  align-items: start;

  padding-block: var(--card-padding-block);
  padding-inline: var(--card-padding-inline);

  text-align: center;
}

.card__content--subscription header {
  --flow-spacer: 0.25em;
}
@counter-style music {
  system: cyclic;
  symbols: '♫';
  suffix: ' ';
}
.card__content ul {
  padding-inline: 0;
  text-align: left;
  list-style: music;
  list-style-position: inside;
}

.card__content li span {
  color: var(--clr-secondary-400);
}

.card__content ul li::marker {
  font-size: var(--fs-500);
  color: var(--clr-secondary-400);
  line-height: 1;
}

.card__content li:only-child::after {
  content: '';
  display: block;
  margin-top: 4.5em;
}

.card__content--subscription .btn {
  align-self: end;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: var(--plan-padding);
  padding-inline: var(--plan-padding);
  background-color: var(--clr-primary-100);
  border-radius: var(--br-small);

  font-size: var(--fs-300);
}

.plan > * + * {
  margin-inline-start: 1.25rem;
}

/* ===== BUTTONS ===== */

.btn {
  padding-block: var(--button-padding-block);
  padding-inline: var(--button-padding-inline);
  background-color: var(--bg);
  color: var(--fg);

  font-weight: var(--fw-900);
  text-decoration: none;
}

.btn[data-type='primary'] {
  --bg: var(--clr-secondary-400);
  --fg: var(--clr-primary-100);
  --hover: var(--clr-secondary-200);
}

.btn[data-theme='dark'] {
  border-radius: var(--br-small);
  box-shadow: 0 1em 2em var(--button-shadow);

  position: relative;
  z-index: 1;
  isolation: isolate;
}

.btn[data-theme='dark']::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--hover);

  border-radius: inherit;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  position: absolute;
  inset: 0;
  z-index: -1;
}

.btn[data-theme='dark']:hover::before,
.btn[data-theme='dark']:focus::before {
  opacity: 1;
}

.btn[data-theme='link'] {
  --bg: none;
  --fg: var(--clr-secondary-400);

  padding-block: 0.25em;
  padding-inline: 0;
  margin-inline-start: auto;

  font-size: var(--fs-300);
  font-weight: var(--fw-700);
  text-decoration: underline;
}

.btn[data-theme='link']:hover,
.btn[data-theme='link']:focus {
  color: var(--hover);
  text-decoration: none;
}

.btn[data-type='secondary'] {
  --fg: var(--clr-primary-700);
  --fg-hover: var(--clr-primary-900);
  border-radius: var(--br-small);
  padding-block-start: 0.25em;
  padding-block-end: 0;
  padding-inline: 0;
}

.btn[data-type='secondary']:hover,
.btn[data-type='secondary']:focus {
  color: var(--fg-hover);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-block-end: 1em;
}
.attribution a {
  color: var(--clr-secondary-400);
}

/* ===== FORM ===== */
.payment__form h2 {
  margin-bottom: 1.25em;
}

.form__control-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 0.125em 0.5em;
  align-items: center;
}

.form__control-wrapper input {
  border: 1px solid hsl(224, 23%, 85%);
  border-radius: var(--br-small);
  padding-block: 0.5em;
  padding-inline: 0.75em;
}
.form__control-wrapper input:hover,
.form__control-wrapper input:focus {
  outline: 2px solid var(--clr-secondary-400);
}
.form__control-wrapper input::placeholder {
  color: hsl(224, 23%, 75%);
  font-weight: var(--fw-500);
}
.form__control-wrapper label {
  justify-self: start;
}

.form__buttons {
  margin-block-start: 1.25em;
  display: grid;
  grid-auto-flow: row;
  gap: 0.75em;
}

.error input {
  border: 2px solid var(--clr-error);
}
.error input:hover,
.error input:focus {
  outline-color: var(--clr-error);
}

.error-message {
  grid-row: 2;
  grid-column: 1 / -1;
  height: 26px;
  margin-bottom: 0.5em;
  display: flex;
  gap: 0.75em;
  align-items: center;
  font-size: fs(300);
  font-weight: var(--fw-500);

  color: var(--clr-error);
}
@media (max-width: 25em) {
  .form__control-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .error-message {
    grid-row: 3;
  }
}
